# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/Bank Management Project OOP/FileContentIndex/0271ebb5-44cc-4e07-a308-1acbb34d5628.vsidx
Bank Management Project OOP.vcxproj.filters
Bank Management Project OOP.vcxproj.filters
.vs/Bank Management Project OOP/FileContentIndex/0271ebb5-44cc-4e07-a308-1acbb34d5628.vsidx
.vs/Bank Management Project OOP/FileContentIndex/0271ebb5-44cc-4e07-a308-1acbb34d5628.vsidx
